# VSCode
.remote
.vscode

# Python cache files
*.pyo
*.pyc

# Virtual environment
venv

# Project configuration
app.cfg
static/logo.png

# Distribution files
dist

# Download files
downloads
